*{
	margin: 0;
	padding: 5px;
	font-family: Courier;
}
body {
	text-align: left;
	font-family: Sans Seriff;
	background-color: rgb(104, 159, 223);
	margin: 0;
	padding: 0;
	transition: 1s all;
	font-size: 25px;
	border: 2px solid #18e;
}
body:hover{
	background: #522;
	transition: .5s all;
	font-weight: bolder;
}

.container {
	border: 1px solid rgb(14, 49, 165);
	margin: 0, auto;
	padding: 1em;
}
.container:hover{
	color:#fff;
}

.post {
	/* border: 2px solid #000; */
	margin: 0, auto;
	padding: 2em;
}
.cabecera{
	width: 70%;
	
	margin: 0;
	padding: 0;
	background-color: #18e;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	transition: 2s all;
}
.cabecera:hover{
	/* background:#000; */
	color:#fff;
	transition: .2s all;
}

p {
	background: linear-gradient(to left rgb(226, 141, 21), rgb(232, 138, 30), rgb(187, 117, 43));
	color: #000;
	font-size: 20px;
	padding: 5px 0 15px 0;
	border: 1px dashed #183;
	display: flex;
	/* position: fixed; */

}

#parrafo {
	color: #000;
	transition: 1s all
}
#parrafo:hover {
	color: #fff;
	transition: .2s all;
}
#_parrafo {
	color: #000;
	transition: 1s all
}
#_parrafo:hover {
	color: #fff;
	transition: .2s all;
}
#__parrafo {
	color: #000;
	transition: 1s all
}
#__parrafo:hover {
	color: #fff;
	transition: .2s all;
}
